<!DOCTYPE html>
<html>
<head>
  <base href="http://demos.telerik.com/kendo-ui/treemap/angular">
  <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
  <title></title>
  <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common-material.min.css" />
  <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.material.min.css" />

  <script src="//kendo.cdn.telerik.com/2015.3.1111/js/jquery.min.js"></script>
  <script src="//kendo.cdn.telerik.com/2015.3.1111/js/angular.min.js"></script>
  <script src="//kendo.cdn.telerik.com/2015.3.1111/js/kendo.all.min.js"></script>
</head>
<body>
<div id="example">
  <div ng-app="KendoDemo" ng-controller="MyCtrl">
    <div kendo-treemap k-options="options" ng-click="show()" style="height: 600px; font-size: 12px;"></div>
  </div>
</div>

<script>
  angular.module("KendoDemo", [ "kendo.directives" ])
    .controller("MyCtrl", function($scope){
      $scope.show = function(){
        console.log("hi")
      }
      $scope.options = {
        dataSource: {
          transport: {
            read: {
              url: "http://demos.telerik.com/kendo-ui/content/dataviz/js/population-usa.json",
              dataType: "json"
            }
          },
          schema: {
            model: {
              children: "items"
            }
          }
        },
        valueField: "value",
        textField: "name",
        colors: [
          ["#0c81c5", "#c5dceb"], ["#3aa2de", "#d8ecf8"],
          ["#449000", "#dae9cc"], ["#76b800", "#dae7c3"],
          ["#ffae00", "#f5e5c3"], ["#ef4c00", "#f1b092"],
          ["#9e0a61", "#eccedf"]
        ]
      };
    })
</script>


</body>
</html>
